@media only screen and (min-width: 768px){
    .article {
        margin: auto;
        padding: 2%;
        max-width: 80%;
        overflow: hidden;
        color: white;
        position: relative;
    }
    .article .photo {
        float: left;
        width: 40%;
        height: auto;
    }

    .article img {
        max-width: 100%;
    }

    .article .text {
        float: right;
        text-align: left;
        width: 58%;
    }

    .article .text h2 {
        margin-top: 1%;
        font-size: 25px;
    }

    .article .text a {
        color: white;
        text-underline-position: under;
    }

    .article #read_more_link {
        position: absolute;
        bottom: 12%;
    }
}

@media only screen and (max-width: 1024px) {
    .article #read_more_link {
        position: relative;
        margin-top: 10px !important; 
    }
}

@media only screen and (max-width: 768px) {
    .article {
        max-width: 100%;
        overflow: hidden;
        color: white;
        margin: 15px;
        padding: 15px;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }

    .article #read_more_link {
        margin-top: 10px;
    }
    
    .article a{
        color: white;
        text-underline-position: under;
    }

    .article img {
        height: 100%;
        width: 100%;
    }
    
    .article .text {
        text-align: left;
        margin: 5px;
        margin-bottom: 15px;
    }
    
    .article .text h2 {
        font-size: 25px;
        text-align: center;
    }
}