@media only screen and (min-width: 1224px){

    .educationDetailsMobile{
        display: none;
    }

    .education {
        overflow: hidden; 
        margin-bottom: 3%;
    }

    .educationDetails{
        width: 100%;
    }

    #education_organization{
        text-align: left;
        vertical-align: top;
    }

    #education_duration {
        text-align: right;
        width: 202px;
        vertical-align: top;
    }

    #education_courses {
        text-align: left;
    }

    #education_gpa {
        text-align: right;
    }

    #education_course_container {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 1224px){
    .education table{
        display: none;
    }

    .education #education_course_container {
        display: none;
    }

    .educationDetailsMobile {
        padding-bottom: 15px;
    }
    .educationDetailsMobile #education_organization{
        font-weight: bold;
    }

    .education_detail_mobile {
        text-align: center;
    }

    .educationDetailsMobile #education_courses {
        text-align: left;
    }

    .educationDetailsMobile #education_course_container_mobile {
        margin-top: 10px;
        text-align: left;
    }
}