.education {
    overflow: hidden; 
    margin-bottom: 3%;
}

.educationDetails{
    width: 100%;
}

#education_organization{
    text-align: left;
    vertical-align: top;
}

#education_duration {
    text-align: right;
    width: 202px;
    vertical-align: top;
}

#education_courses {
    text-align: left;
}

#education_gpa {
    text-align: right;
}

#education_course_container {
    margin-top: 2%;
}