@media only screen and (min-width: 1224px) {
    .project {
        background-color: black;
        color: white;
        width: 35%;
        height: 350px;
        display: inline-block;
        margin: 0.3%;
        padding-bottom: 10px;
        border: black solid;
        vertical-align: top;
    }
}

.project-description {
    text-align: left;
}

.project-description li {
    padding: 5px;
}

@media only screen and (max-width: 1224px) {
    .project {
        background-color: black;
        color: white;
        display: inline-block;
        margin: 0.3%;
        padding-bottom: 10px;
        border: black solid;
        vertical-align: top;
    }
}